@font-face {
    font-family: 'star-wars';
    src: url("./assets/fonts/star_jedi/starjedi/Starjedi.ttf");
}

.hello {
    color: red;
}

.imageWrapper {
    width: 500px;
    height: 500px;
    background: url('./assets/images/Lakeside.jpg') no-repeat center center;
    background-size: cover;
}

.starWarsHeader {
    font-family: 'star-wars';
    color: black;
}